

<!-- Nav tabs -->
<ul class="nav nav-tabs top-buffer">
	<% section.each do |item| %>
		<li <%= 'class=active' if section.first == item %>>
			<a href="#<%= item[:id] %>" data-toggle="tab">
				<strong>
					<%= item[:title] %>
				</strong>
			</a>
		</li>
	<% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content top-buffer">
	<% section.each do |item| %>
		<div class="tab-pane <%= 'active' if section.first == item %>" id="<%= item[:id] %>">
			<%= render 'sql_window',
				content: item[:content],
				query: item[:query],
				answer: item[:answer]
			%>
		</div>
	<% end %>
</div>