<!DOCTYPE html>
<html>
<head>
  <title>SQL-PQL</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border-radius:0 !important">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="<%= root_url %>">SQL-PQL</a>


	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<% if current_user %>
	      <ul class="nav navbar-nav">
					<li class="hidden-xs"><img src="<%= current_user.avatar_url %>" width="50px" height="50px"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Welcome, <%= current_user.nickname %> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Log out', logout_url, method: 'delete' %></li>
						</ul>

					</li>
				</ul>
				<% end %>

	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="<%= root_url %>">Home</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lessons <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="/lesson/0">0. Intro to world of SQL</a></li>
	            <li><a href="/lesson/1">1. The SELECT command</a></li>
	            <li><a href="/lesson/2">2. Lets SUM, COUNT, MAX and more!</a></li>
	            <li><a href="#">3. Advanced SQL</a></li>
	          </ul>
	        </li>

	        <li class="dropdown keep-open hidden-xs">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Show Table <b class="caret"></b></a>
	          <ul class="dropdown-menu dropdown-table semi-transparent">
	          	<div class="">

	          		<%= render 'world_table' %>

	          	</div>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<%= yield %>

<hr>
<div class="row footer">
	SQL-PQL by Minh Luu
</div>
<hr>
</body>
</html>
